<h1>Add a dish +</h1>
<h1>Dishes</h1>
  <ul>
    <% @dishes.each do |dish| %>
      <li><%= dish.title %>, <%= dish.ingredients %></li>
    <% end %>
  </ul>
<br>
<h1>Active dishes</h1>

  <% @dishes.each do |dish| %>
    <ul>
      <% dish.dish_availabilities.each do |availability| %>
        <li><%= availability.dish.title %></li>
        <li><%= availability.dish.user.address %></li>
        <li><%= availability.date %></li>
        <li><%= availability.price %> €</li>
        <li><%= availability.portion_available %></li>
      <% end %>
    </ul>
  <% end %>

<br>
<h1>my orders</h1>
  <ul>
    <% @dishes.each do |dish| %>
      <% dish.dish_availabilities.each do |availability| %>
        <ul>
          <% availability.orders.each do |order| %>
            <li><%= order.user.first_name %></li>
            <li><%= order.dishes_portion %></li>
            <li><%= order.dish_availability.dish.title %></li>
            <li><%= order.dish_availability.date %></li>
            <li><%= order.status %></li>
            <br>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
