<div class="container">
<h1><%= link_to "My chef Page", new_dish_path %></h1><%=  %>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">My menu</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Active dishes</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">My orders</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <ul>
      <% @dishes.each do |dish| %>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-<%= dish.id %>">
        <%= dish.title %>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal-<%= dish.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Activate dish</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= dish.title %>
              <%= simple_form_for [dish, @dish_availability] do |f| %>
              <%= f.input :portion_available %>
              <%= f.input :price %>
              <%= f.input :date %>
              <%= f.input :address %>
              <%= f.button :submit %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%#= link_to new_dish_dish_availability_path(dish) do %>

      <%# end %>
      <% end %>
  </ul>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <% @dishes.each do |dish| %>
    <ul>
      <% dish.dish_availabilities.each do |availability| %>
      <li><%= availability.dish.title %></li>
      <li><%= availability.dish.user.address %></li>
      <li><%= availability.date %></li>
      <li><%= availability.price %> €</li>
      <li><%= availability.portion_available %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" class="container">
    <% @dishes.each do |dish| %>
      <% dish.dish_availabilities.each do |availability| %>
        <% availability.orders.each do |order| %>
        <div class="chef-card">
          <div class="chef-order-container">
            <div class="chef-name-container">
              <li><%= order.user.first_name %></li>
            </div>
            <div class="list-style-containet">
              <li> Dish: <%= order.dish_availability.dish.title %></li>
              <li> Portions: <%= order.dishes_portion %></li>
              <li> Date: <%= order.dish_availability.date %></li>
            </div>
          </div>
          <div class="payment-status-container">
            <% if order.status = "paid" %>
            <div class="validate-payment">
            <li> <i class="fas fa-check-circle"></i> </li>
            </div>
            <% else %>
            <div class="unvalid-payment">
              <li> <i class="fas fa-search-dollar"></i> </li>
            </div>
            <% end %>
            <li><%= order.status %></li>
          </div>
        </div>
        <br>
        <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
  </div>
</div>
</div>
