<!-- Default form subscription -->
<div class="text-center border border-light p-5">

    <p class="h4 mb-4 greentext">New dish</p>

  <%= simple_form_for @dish do |f| %>
    <div class="custom-file form-control mb-4">
      <%= f.file_field :photo, class: "custom-file-input" %>
      <label class="custom-file-label sxalign" for="customFileLang">Food picture</label>
    </div>
    <%= f.input :title, class: "form-control mb-4", placeholder: "title", label:false %>
    <%= f.input :ingredients, class: "form-control mb", placeholder: "ingredients", label:false, as: :text %>
    <%= f.input :allergens, class: "form-control mb-4", label:"allergens:", collection: ["Cereals containing gluten", "Crustaceans", "Eggs", "Fish", "Peanuts", "Soybeans", "Milk", "Nuts", "Celery", "Mustard", "Sesame seeds", "Sulphur dioxide and sulphites", "Lupin", "Molluscs"] %>
    <%= f.input :cuisine, class: "form-control mb-4", label:"cuisine:", collection: %w(Ainu
    Albanian
    Argentina
    Andhra
    Anglo-Indian
    Arab
    Armenian
    Assyrian
    Awadhi
    Azerbaijani
    Balochi
    Belarusian
    Bangladeshi
    Bengali
    Berber
    Buddhist
    Bulgarian
    Caju
    Cantonese
    Chechen
    Chinese cuisine
    Chinese Islamic
    Circassian
    Crimean Tatar
    Cypriot
    Danish
    Estonian
    French
    Filipino
    Georgian
    Goan
    Goan Catholic
    Greek
    Gujarati
    Hyderabad
    Hong Kong Western
    Indian cuisine
    Indian Chinese
    Indian Singaporean cuisine
    Indonesian
    Inuit
    Italian American
    Italian cuisine
    Japanese
    Jewish
    Karnataka
    Kazakh
    Keralite
    Korean
    Kurdish
    Laotian
    Latvian
    Lithuanian
    Louisiana Creole
    Maharashtrian
    Mangalorean
    Malay
    Malaysian Chinese cuisine
    Malaysian Indian cuisine
    Mediterranean cuisine
    Mexican
    Mordovian
    Mughal
    Native American
    Nepalese
    New Mexican
    Odia
    Parsi
    Pashtun
    Polish
    Pennsylvania Dutch
    Pakistani
    Peranakan
    Persian
    Peruvian
    Portuguese
    Punjabi
    Rajasthani
    Romanian
    Russian
    Sami
    Serbian
    Sindhi
    Slovak
    Slovenian
    Somali
    South Indian
    Soviet
    Sri Lankan
    Taiwanese
    Tatar
    Thai
    Turkish
    Tamil
    Udupi
    Ukrainian
    Yamal
    Zambian
    Zanzibari)%>
    <%= f.button :submit, class: "btn btn-info btn-block greenbg" %>

  <% end %>

</div>
<!-- Default form subscription -->


