<h1 class="order-summ">Your Order Summary</h1>
<%= form_tag order_payments_path(@order) do %>
<div class="container">
  <div class="table">

    <div class="card-summary">
      <strong>Dish:</strong> <%= @order.dish_availability.dish.title %>
    </div>

    <div class="card-summary">
      <strong>QTY:</strong> <%= @order.dishes_portion %>
    </div>

    <div class="card-summary">
      <strong>Price:</strong> <%= @order.dish_availability.dish.price %>
    </div>
    <div class="card-summary">
      <strong>Total Due:</strong> <%= humanized_money_with_symbol(@order.amount) %>
    </div>

  </div>

<div class="stripe-btn">
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
data-name="My Teddy"
data-email="<%= current_user.email %>"
data-description="Teddy <%= @order.comment %>"
data-amount="<%= @order.amount_cents %>"
data-currency="<%= @order.amount.currency %>"></script>
<% end %>
</div>
</div>
