<div class= "show-style">
  <div class="card-dish">
    <%= image_tag("#{@dish.photo}", class: "img-dish") %>
    <div class="price-container">
      <h4 class="card-dish-pricing"><%= humanized_money_with_symbol(@dish.price) %></h4>
    </div>
  </div>
  <div class="container">
    <div class="card-chef-infos">
      <div class="chef-container">
        <img class="avatar-chef-large" alt="avatar-chef-large" src="<%= @chef.photo %>">
        <div class="name-stars">
        <p><%= @chef.first_name %> <%= @chef.last_name %></p>
        <div class="star-container">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
        <div>
        <div class="clock-container">
          <i class="far fa-clock"></i>
          <div class="command-time">6 - 9 PM</div>
        </div>
        <div class="marker-container">
          <i class="fas fa-map-marker-alt"></i>
          <div class="chef-distance">0.7km away</div>
        </div>
      </div>
    </div>

    <div class= "info-container">

      <div class="presentation-container">
        <h3><%= @dish_availability.dish.title %></h3>
        <p><%= @dish_availability.dish.cuisine.join %></p>
      </div>
      <div class="description-container">
        <h5>Ingredients</h5>
        <p><%= @dish_availability.dish.ingredients %></p>
        <h5>Allergies</h5>
        <p><%= @dish_availability.dish.allergens %></p>
        <h5>Portions Left</h5>
        <p><%= @dish_availability.portion_available %></p>
      </div>
    </div>
    <div class="button-container">
      <% if current_user != @dish_availability.dish.user %>
      <button type="button" class="button" data-toggle="modal" data-target="#bookingModal">
      Add to basket
      </button>
      <% end %>
    </div>
  </div>
</div>

<%= render 'orders/order_modal' %>
